/* font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* nav */
.nav-item .nav-link {
    margin-left: 12px;
    margin-right: 12px;
    font-family: 25px;
    color: #ffffff;
}
.nav-item a {
    font-size: 20px;
    font-weight: bold;
}
.nav-item a:hover{
    color: #000000 !important;
    transition: all .6s;
}
.scroll-nav-active{
    background-color: #e4bc2a;
    transition: all 0.3s ease;
}
.text-nav-active{
    color: #ffffff;
    transition: all 0.3s ease;
}
/* hero */
#hero {
    background-image: url("../asset/image/unsplash_LDnctIMQGeY.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}
.hero-title {
    padding-top: 300px;
}
.hero-title h1 {
    font-size: 80px;
    font-weight: 600px;
    color: #ffffff;
}
.hero-title p {
    font-size: 24px;
    font-weight: 100;
}

/* floating wa */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:1;
}
.float:hover{
    background-color: #0e5c02;
    transition: all .6s ease;
}
.my-float{
	margin-top:16px;
}

/* program */
#btn-card {
    background-color: #feda5c;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.card-title {
    font-size: 30px;
}

/* produk */
#produk {
    background-color: #ffe39a66;
}
#produk .card {
    background-color: transparent;
    border: none;
}
#produk2 .card {
    background-color: transparent;
    border: none;
}
#produk .card img {
    border-radius: 20px;
}
#produk2 .card img {
    border-radius: 20px;
}
.header-produk h1 {
    font-size: 45px;
    color: #000000;
    font-weight: bolder;
}
.produk-content h1 {
    font-weight: bold;
}
.produk-content p {
    font-size: 24px;
    font-weight: 200;
}
#btn-produk {
    color: #ffffff;
    background-color: #feda5c;
    font-weight: bold;
    font-size: 25px;
    border: none;
    outline: none;
    padding: 10px;
    width: 30%;
    border-radius: 30px;
}
#btn-produk:hover {
    background-color: #898686;
    color: #feda5c;
    transition: all 0.3s ease-in-out;
}
#btn-lainnya {
    color: #ffffff;
    background-color: #6b6b6b;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 12px;
    width: 60%;
    border-radius: 30px;
    font-size: 25px;
}
#btn-lainnya:hover {
    background-color: #555555;
    transition: all 0.3s ease-in-out;
}
#footer-produk {
    background-color: #ffc062;
}

/* tetang-kami */
#tentang-kami {
    background-color: #ffe39a66;
}
.content-mamaci {
    background-color: #ffc062;
    color: #ffffff;
    padding: 4px;
}
#img-produk {
    padding-right: 150px;
}
#img-produk img {
    border-radius: 30px;
}
@media (max-width: 768px) {
    #img-produk {
    text-align: center;
    padding-right: 0;
    }
    #img-produk {
        width: 100%;
        height: auto;
    }
    .map-responsive {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
        overflow: hidden;
        border-radius: 30px; 
    }
    
    .map-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    #kontak-kami{
        text-align: center;
    }
    #tentang-kami{
        text-align: center;
    }
    .nav-item a{
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }
    
}
/* kontak kami */
#medsos-kontak{
    background-color:#7C7C7C; 
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}
#img-kontak{
    padding-left: 150px;
    padding-top: 100px;
    border-radius: 38px;
}
#medsos h4{
    font-size: 25px;
}
#medsos p{
    font-size: 20px;
    font-weight: 300;
}

/* footer */
#footer{
    background-color: #515151;
    color: #ffffff;
    padding: 5px;
}
#footer h1{
    font-size: 15px;
}

