body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(7, 96, 7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.coming-soon-container {
    text-align: center;
}

.logo {
    width: 100px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

#countdown {
    font-size: 36px;
    margin-bottom: 20px;
}


